.page-header[b-s9vrclcp7i] {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.page-title[b-s9vrclcp7i] {
    font-size: 18px;
    font-weight: 700;
}

.page-subtitle[b-s9vrclcp7i] {
    margin-top: -18px;

    font-size: 14px;

    color: var(--t2);
}

.grid[b-s9vrclcp7i] {
    display: grid;

    gap: 11px;
    margin-bottom: 13px;
}

.grid-2[b-s9vrclcp7i] {
    grid-template-columns: 1fr 1fr;
}

.grid-3[b-s9vrclcp7i] {
    grid-template-columns: 2fr 1fr;
}

.grid-4[b-s9vrclcp7i] {
    grid-template-columns: repeat(4, 1fr);
}