.hero-section {
    min-height: 92.6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background:linear-gradient(135deg,var(--bgwarm),var(--gdim2));
    color: var(--gold);
    gap: 8px;
}

.hero-title {
    width:100%;
    max-width:800px;
    font-size: 56px;
    font-weight: 700;
    text-align: center;
}

.hero-description {
    width:100%;
    max-width:1000px;
    font-size: 20px;
    text-align: center;
}

.small {
    font-size: 16px;
}

.small-container {
    padding: 5px 20px;
    background: var(--bgwarm);
    border-radius: 50px;
}

.hero-row {
    display: flex;
    gap: 11px;
}

.hero-features{
    gap:20px;
}

.hero-actions{
    padding:12px 0;
}

.icon {
    font-size: 20px;
}

.icon-button {
    padding-left: 6px;
    font-size: 22px;
}