.hero-section[b-3oj701lpxg] {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background:linear-gradient(135deg,var(--bgwarm),var(--gdim2));
    color: var(--gold);
    gap: 8px;
}

.hero-title[b-3oj701lpxg] {
    width:100%;
    max-width:800px;
    font-size: 56px;
    font-weight: 700;
    text-align: center;
}

.hero-description[b-3oj701lpxg] {
    width:100%;
    max-width:1000px;
    font-size: 20px;
    text-align: center;
}

.small[b-3oj701lpxg] {
    font-size: 16px;
}

.small-container[b-3oj701lpxg] {
    padding: 5px 20px;
    background: var(--bgwarm);
    border-radius: 50px;
}

.hero-row[b-3oj701lpxg] {
    display: flex;
    gap: 11px;
}

.hero-features[b-3oj701lpxg]{
    gap:20px;
}

.hero-actions[b-3oj701lpxg]{
    padding:12px 0;
}

.icon[b-3oj701lpxg] {
    font-size: 20px;
}

.icon-button[b-3oj701lpxg] {
    padding-left: 6px;
    font-size: 22px;
}