.background[b-3oj701lpxg] {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background:linear-gradient(135deg,var(--bgwarm),var(--gdim2));
    color: var(--gold);
    gap: 10px;
}

.small[b-3oj701lpxg] {
    font-size: 16px;
}

.small-container[b-3oj701lpxg] {
    align-items: center;
    justify-content: center;
    padding: 5px 20px;
    background: var(--bgwarm);
    border-radius: 50px;
}

.title[b-3oj701lpxg] {
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 56px;
    font-weight: 700;
    text-align: center;
}

.text[b-3oj701lpxg] {
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    text-align: center;
}

.direction[b-3oj701lpxg] {
    display: flex;
    flex-direction: row;
    gap: 11px;
}

.padding[b-3oj701lpxg] {
    padding: 0 20px;
}

.icon[b-3oj701lpxg] {
    font-size: 20px;
}

.button[b-3oj701lpxg] {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 7px 15px;

    border: none;
    border-radius: 7px;

    font-size: 18px;
    font-weight: 600;

    white-space: nowrap;

    cursor: pointer;

    transition: .12s;
}

.button-secondary[b-3oj701lpxg] {
    background: var(--bg2);
    border: 1px solid var(--b2);
    color: var(--t2);
}
.button-secondary:hover[b-3oj701lpxg] {
    border-color: var(--b3);
    color: var(--gold2);
}

.button-primary[b-3oj701lpxg] {
    background: linear-gradient(135deg,var(--gold),var(--gold));
    color: var(--black);
}
.button-primary:hover[b-3oj701lpxg] {
    opacity: .9;
}

.icon-button[b-3oj701lpxg] {
    padding-left: 6px;
    font-size: 22x;
}