.page[b-0sf3vb9mw4] {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header[b-0sf3vb9mw4] {
    position: sticky;
    top: 0;
    z-index: 50;

    display: flex;
    align-items: center;
    gap: 11px;

    height: 60px;
    padding: 0 18px;

    background: var(--bg2);
    border-bottom: 1px solid var(--bg);
}

.header-title[b-0sf3vb9mw4] {
    flex: 1;
    margin: 0;

    font-size: 24px;
    font-weight: 700;
}

.button[b-0sf3vb9mw4] {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 7px 15px;

    border: none;
    border-radius: 7px;

    font-size: 18px;
    font-weight: 600;

    white-space: nowrap;

    cursor: pointer;

    transition: .12s;
}

.button-secondary[b-0sf3vb9mw4] {
    background: transparent;
    border: 1px solid var(--b2);
    color: var(--t2);
}
.button-secondary:hover[b-0sf3vb9mw4] {
    border-color: var(--b3);
    color: var(--gold2);
}

.button-primary[b-0sf3vb9mw4] {
    background: linear-gradient(135deg,var(--gold),var(--gold2));
    color: var(--black);
}
.button-primary:hover[b-0sf3vb9mw4] {
    opacity: .9;
}