.page[b-0sf3vb9mw4] {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header[b-0sf3vb9mw4] {
    height: 55px;
    display: flex;
    align-items: center;
    padding: 0 18px;
    gap: 11px;
    background: var(--bg2);
    border-bottom: 1px solid var(--border);
    position: sticky;
    top: 0;
    z-index: 50;
}

.title[b-0sf3vb9mw4] {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    flex: 1;
}

.button[b-0sf3vb9mw4] {
    padding: 5px 11px;
    border-radius: 7px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    transition: .12s;
    white-space: nowrap;
}

.button-secondary[b-0sf3vb9mw4] {
    background: transparent;
    border: 1px solid var(--b2);
    color: var(--t2);
    font-size: 16px;
}
.button-secondary:hover[b-0sf3vb9mw4] {
    border-color: var(--b3);
    color: var(--gold2);
}

.button-primary[b-0sf3vb9mw4] {
    background: linear-gradient(135deg,var(--gold),var(--gold2));
    color: var(--black);
    font-size: 16px;
}
.button-primary:hover[b-0sf3vb9mw4] {
    opacity: 0.9;
}